* {
    font-family: sans-serif;
}
body {
    color: white;
    height: 100%;
    width: 100%;
    display: inline;
    margin: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(100, 100, 100);
}

h1 {
    position: absolute;
    top: 20px;
    left: 20px;
    margin: 0;
    padding: 0;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: calc(100vh);
    height: 100%;
    max-height: calc(100vw);
    margin-left: calc(50vh-50vw);
}

#layout {
    display:none;
}

#fps {
    position: absolute;
    top: 20px;
    right: 20px;
}
