* {
  font-family: 'Press start 2P';
}

html {
  overflow: hidden;
}
body {
  color: white;
  height: 100%;
  width: 100%;
  display: inline;
  margin: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgb(100, 100, 100);
}

#logo {
  position: absolute;
  top: 20px;
  left: 20px;
  margin: 0;
  padding: 0;
  display: flex;
}
#logo h1 {
  margin: 0;
  margin-left: 1em;
  line-height: 2em;
  letter-spacing: .2em;
}

#stage canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#debug-layer {
  z-index: -1;
}
#objects-layer {
  z-index: -2;
}
#layout-layer {
  z-index: -3;
}

#images img {
  display:none;
}

#fps {
  position: absolute;
  top: 20px;
  right: 20px;
}

#conversation {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  min-height: 20%;
  background: grey;
  padding: 30px;
  box-sizing: border-box;
  display: none;
}

.icon {
  width: 4em;
  height: 4em;
  animation: spin 128s linear infinite;
}

@keyframes spin {
  100% {
    transform:rotate(-360deg);
  }
}

.container{ /* stick the ui-icon and time together so no matter the window size both elements remain together */

  position: absolute;
  top: 0;
  left: 50%;
}

.ui-icon {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 5px;
}
.ui-icon img {
  width: 64px;
  height: 64px;
}

#ui-icons {
  margin-left: -106.5px;
  background-color: rgba(55, 55, 55, 0.5);
  border-radius: 0 0 5px 5px;
  border: 2px solid black;
  border-top: none;
  padding: 5px;
  display: flex;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.content {
  display: flex;
  justify-content: center;
}

.inventory {
  width: 318px;
  height: 318px;
  background: grey;
  border-radius: 5px;
  padding: 5px;

}

.slot {
  width: 70px;
  height: 70px;
  background: lightgrey;
  justify-content: center;
  border: solid 2.5px darkgrey;
  margin: 2px;
  float: left;

}

.item {
  width: auto;
  height: auto;

}

.item img {
  width: 100%;
  margin: 0 auto;
}

#ingameTime {
    margin-left: -36.5px;
    width: 78px;
    align-items: center;
    text-align: center;
    background-color: rgba(55, 55, 55, 0.5);
    border-radius: 0 0 5px 5px;
    border: 2px solid black;
    border-top: none;
    padding: 5px;
    color:#00dd3c;
    font-family: 'Press Start 2P';
    font-size: 10px;
}

#timer {
    visibility: hidden;
    margin-left: -36.5px;
    width: 78px;
    align-items: center;
    text-align: center;
    background-color: rgba(55, 55, 55, 0.5);
    border-radius: 0 0 5px 5px;
    border: 2px solid black;
    border-top: none;
    padding: 5px;
    color:#00dd3c;
    font-family: 'Press Start 2P';
    font-size: 10px;
}

.music {
  position: fixed;
  top: 1%;
  left: 60%;
  text-align: center;
}

.slider {
  width: 150px;
  height: 10px;
  border-radius: 5px;
  border: 2px solid black;
  outline: none;
  background-color: rgba(55, 55, 55, 0.5);
}
#musicnote {
  position: fixed;
  top: 0;
  left: 57%;
  padding: 5px;
  background-color: rgba(55, 55, 55, 0.5);
  border-radius: 0 0 5px 5px;
  border: 2px solid black;
  border-top: none;

  opacity: 0.9;
}
#musicnote:hover {
  opacity: 1.0;
}
#volumeslider {
  visibility: hidden;
}
.rangevalue {
  position: relative;
  top: 8px;
  font-family: 'Press Start 2P';
  color:#00dd3c;
  font-size: 10px;
  padding: 4px;
  background-color: rgba(55, 55, 55, 0.5);
  border-radius: 5px;
  border: 2px solid black;
}
/*
* For some reason the styling doesn't work on other browsers than firefox,
* maybe someone more knowledgeable than me can fix it
*/
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 6px;
  height: 16px;
  border-radius: 5px;
  border: 2px solid black;
  background: #ffffff;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  -webkit-appearance: none;
  width: 6px;
  height: 16px;
  border-radius: 5px;
  border: 2px solid black;
  background: #ffffff;
  cursor: pointer;
}

#message-overlay {
  width: 400px;
  margin-left: -200px;
  background-color: grey;
  z-index: 3;
  position: relative;
}

.accHead {
  width: 400px;
  height: 50px;
  background: darkgrey;
  border-radius: 5px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  margin-bottom: 1px;
  padding: 5px;
  display: flex;
  justify-content: left;
  font-weight: bold;
}

.accHead:hover {
  background: grey;
}

.accBody {
  width: 388px;
  height: 75px;
  background: lightgrey;
  border-radius: 5px;
  padding: 5px;
  border-bottom: 2px solid grey;
  border-right: 2px solid grey;
  color: black;
  margin-bottom: 1px;
  display: none;
  justify-content: left;
}

.start-page-container {
  width: 550px;
  height: 700px;
  top: 50%;
  left: 50%;
  position: absolute;
  margin-top: -350px;
  margin-left: -225px;
  background-color: gray;
  z-index: 4;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.start-page-container > * {
  width: 100%;
}

.accordion-container {
  background-color: gray;
  z-index: 2;
  position: relative;
  width: 400px;
  margin-left: -200px;
  padding: 10px;
  border-radius: 5px;
}
.accordion-container h2 {
  text-align: center;
}
.accordion-toggle {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}
.accordion-expandable {
  display: none;
  margin-bottom: 15px;
}

#quest-overlay {
   display: none;
}
